@font-face {
    font-family: Heebo-Light;
    src: url(../assets/fonts/Heebo/Heebo-Light.ttf);
}

@font-face {
    font-family: Heebo-Bold;
    src: url(../assets/fonts/Heebo/Heebo-Bold.ttf);
}

/* Works on Firefox */
* {
    margin: 0;
    padding: 0;

    scrollbar-width: auto;
    scrollbar-color: #41B3A3 #1A1A1D;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #1A1A1D;
}

*::-webkit-scrollbar-thumb {
    background-color: #41B3A3;
    border: 3px solid #41B3A3;
}

.content-table {
    border-collapse: collapse;
    margin: 0 auto 0 auto;
    font-size: 0.9em;
    min-width: 100%;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: white;
}

.content-table thead tr {
    font-family: Heebo-Bold;
    background-color: #41B3A3;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    font-family: Heebo-Light;
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.content-table tbody .hover:hover {
    opacity: 0.4;
}

.content-table tbody:last-of-type {
    border-bottom: 4px solid #41B3A3;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #41B3A3;
}

.hidden_row {
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: #E27D60;
    color: #fff;
    text-align: center;
    border-radius: 0px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

/* .un {
    display: inline-block;
}

.un::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: #E27D60;
    transition: 300ms;
}

.un:hover::after {
    width: 50%;
} */

.un::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0px;
    height: 2px;
    background: #E27D60;
    transition: all 0.45s;
}

.un:hover::after {
    width: 100%;
    left: 0;
}

.un:hover {
    text-decoration: none;
    cursor: pointer;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

a,
a:link {
    text-decoration: none !important;
    color: #E8A87C !important;
}