.content-table {
    border-collapse: collapse;
    margin: 25px auto 0 auto;
    font-size: 0.9em;
    min-width: 1000px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #41B3A3;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.content-table tbody .hover:hover {
    opacity: 0.4;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #41B3A3;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #41B3A3;
}

.hidden_row {
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: #E27D60;
    color: #fff;
    text-align: center;
    border-radius: 0px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

a, a:link {
    text-decoration: none !important;
    color: #E8A87C !important;
}